<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
    <title>New</title>
  </head>
  <body>
    <div class="container">
      <h1>Add new item:</h1>
      <form action="/budgets" method="POST">
        <input type="text" placeholder="Date" name="date" />
        <input type="text" placeholder="Name" name="name" />

        <input type="text" placeholder="Amount" name="amount" />
        <input type="text" placeholder="From" name="from" />
        <input type="text" placeholder="Tags" name="tags" />
        <button>CREATE NEW ITEM</button>
      </form>
    </div>
  </body>
</html>
